.DisplayNone {
	display: none;
}
.Hidden {
	display: none;
}
.ActiveTopMenu {
	background-color: #cc0001;
	color: white !important;
}

#wrapper {
	width: 1002px;
	margin: 10px auto;
	text-align: center;
}

#link {
	color: #888888;
	font-size: 24px;
}

#overlay {
	background: #000000;
	opacity: 0.5;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10000;
}

#popup {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 5px solid #DDDDDD;
	left: 38%;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 39%;
	width: 380px;
	z-index: 20000;
}

.StyleThemSoDo {
	color: Blue;
	text-decoration: underline;
}

.WarpContentTable {
	height: 210px;
}

.HeaderPopup {
	background: none repeat scroll 0 0 #E60200;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #CCCCCC;
	color: #FFFFFF;
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-top: 2px;
	width: 500px;
}

.TableStyle01 tr td .w-200 {
	width: 200px;
	border: 1px solid #999999;
	padding-bottom: 3px;
	padding-top: 3px;
}

.TableStyle01 tr td {
	border: medium none;
	color: #4E4E4E;
	font-weight: normal;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.TableStyle01 tr td input,.TableStyle01 tr td select {
	border: 1px solid #999999;
}

.TableStyle01 tr td input,.TableStyle01 tr td select {
	padding-bottom: 3px;
	padding-top: 3px;
}

#cboxLoadedContent {
	width: 500px;
}

.error01 {
	color: red;
	font-style: italic;
	font-size: 11px;
}

.StatusPopup {
	/*border: 1px solid #01b863;*/
	overflow: hidden;
	width: 350px;
	height: auto;
	text-align: center;
	padding-bottom: 20px;
}

.StatusPopup h4 {
	background: #01b863;
	color: #FFF;
	font-size: 1.2em;
	padding: 5px 0 5px 12px;
	text-transform: uppercase;
	margin-bottom: 23px;
	text-align: left;
}

.StatusPopup01 {
	overflow: hidden;
	width: auto;
	height: auto;
	text-align: center;
	padding-bottom: 20px;
}

.StatusPopup01 h4 {
	background: #01b863;
	color: #FFF;
	font-size: 1.2em;
	padding: 5px 0 5px 12px;
	text-transform: uppercase;
	margin-bottom: 23px;
	text-align: left;
}


#PopupThemNhanKhauID {
    padding-bottom: 0;
     width: 100%;
}
#PopupTamVangID {
    width: 796px;
    padding-bottom: 0;
}
#PopupXacMinhNhanKhauID{
	width: 100%;
    padding-bottom: 0;
}
#LabelHeaderWeb {
	 color: white;
    font-size: 19px;
    font-weight: bold;
    left: 155px;
    position: absolute;
    text-shadow: 2px 3px black;
    top: 37px;
}

/* #UploadForm {
	display: block;
	margin: 20px auto;
	background: #eee;
	border-radius: 10px;
	padding: 15px
}

#progressbox {
	position: relative;
	width: 400px;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 3px;
}

#progressbar {
	background-color: lightblue;
	width: 0%;
	height: 20px;
	border-radius: 4px;
}

#percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%;
} */

#PopupHoanThanhID select {
	font-family: Times New Roman,Arial,sans-serif;
    font-size: 14px;
    width: 200px;
}

#PopupHoanThanhID textarea {
	font-family: Times New Roman,Arial,sans-serif;
    font-size: 14px;
}

#MenuNhomID li {
	height: 25px;
	border-bottom: 1px solid #cccccc;
    box-shadow: 0 1px 0 #eeeeee inset;
    background-color: #cccccc;
    vertical-align: center;
    padding-top: 5px;
}

#MenuNhomID li a {
	color: #707070;
}

#MenuNhomID li a:HOVER {
	color: white;
}
#ContentBodyID {
	padding: 30px 30px 10px;
}
#ContentBodyID .col_right{
	border: 1px solid #cccccc;
    box-shadow: 0 0 0 2px #d5d5d5;
    background: linear-gradient(to bottom, #f8f8f8 0%, #eaeaea 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    float:left;
    width: 100%;
}

#ContentBodyID .col_right .achor_link {
	background: linear-gradient(to bottom, #f8f8f8 0%, #eaeaea 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #cccccc;
    box-shadow: 0 1px 0 0 #fff inset;
    min-height: 40px;
    font-weight: bold;
}

#PopupGiayChungNhanDangKyID{
	width: auto;
	padding-bottom: 0;
}
#PopupGiayChungNhanDangKyID h4{
	width: auto;
	margin-bottom: 0px;
}
#PopupThongTinCongTyID{
	width: 100%;
}

#TablePhieuHenID {
	padding:  0 20px 0 20px;
}

#TablePhieuHenID .TRStyle01{
	font-size: 12px;
    line-height: 10px;
}
#TablePhieuHenID .Title01{
	font-size: 20px;
	padding: 10px 0;
}
#TablePhieuHenID .Title01 td{
	padding: 10px 0 0 0;
}
#TablePhieuHenID .Footer01 {
	 line-height: 10px;
}
#FamePhieuHenID {
	height: 460px;
}
#TableMatSauID {
	width: 100%;
}
#TableMatTruocID tr{
	height: 22px;
}